<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans-4.3.xsd
        http://www.springframework.org/schema/tx
        http://www.springframework.org/schema/tx/spring-tx-4.3.xsd
        http://www.springframework.org/schema/context 
		http://www.springframework.org/schema/context/spring-context-4.3.xsd ">
    
    <!-- spring事物管理 -->  
    <tx:annotation-driven transaction-manager="transactionManager"/>
    <bean id="transactionManager"
          class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
        <property name="dataSource" ref="dataSource"/>
    </bean>
	
	<!-- spring数据源，没有池 -->
	<!-- <bean id="dataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
		<property name="driverClassName" value="${jdbc.driver}"/>
		<property name="url" value="${jdbc.url}"/>
		<property name="username" value="${jdbc.username}"/>
		<property name="password" value="${jdbc.password}"/>
	</bean> -->
	
	<!-- apache数据源，连接池模式 -->
	<bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource">
		<property name="driverClassName" value="${jdbc.driver}"/>
		<property name="url" value="${jdbc.url}"/>
		<property name="username" value="${jdbc.username}"/>
		<property name="password" value="${jdbc.password}"/>
	</bean>
	
	<!-- alibaba druid 数据源 -->
	<!-- <bean id="dataSource" class="com.alibaba.druid.pool.DruidDataSource" init-method="init" destroy-method="close">
		<property name="driverClassName" value="${jdbc.driver}" />
        <property name="url" value="${jdbc.url}"/>
        <property name="username" value="${jdbc.username}"/>
        <property name="password" value="${jdbc.password}"/>
        
        <property name="maxActive"value="20" />
  		<property name="initialSize"value="1" />
   		<property name="maxWait"value="60000" />
  		<property name="minIdle"value="1" />
      
        <propertyname="timeBetweenEvictionRunsMillis" value="60000"/>
   		<propertyname="minEvictableIdleTimeMillis" value="300000"/>
        
        <property name="validationQuery"value="SELECT 'x'" />
        <property name="testWhileIdle" value="true"/>
        <property name="testOnBorrow" value="false"/>
        <property name="testOnReturn" value="false"/>
        <property name="filters" value="stat,config"/>
        
        <propertyname="poolPreparedStatements" value="true" />
   		<propertyname="maxPoolPreparedStatementPerConnectionSize" value="50"/>
        <property name="connectionProperties" value="config.decrypt=true"/>
    </bean> -->

    <!-- mybatis-spring 配置 -->
    <!-- 扫描basePackage下的所有mapper，自动注册为MapperFactoryBean -->
    <bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
        <property name="basePackage" value="zjq.demo.dao"/>
        <property name="sqlSessionFactoryBeanName" value="sqlSessionFactory"/>
    </bean>
    <!-- 创建sqlSession会话 -->
    <bean id="sqlSession" class="org.mybatis.spring.SqlSessionTemplate">
        <constructor-arg index="0" ref="sqlSessionFactory"/>
    </bean>
    <!-- 创建sqlSessionFactory -->
    <bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
        <property name="dataSource" ref="dataSource"/>
        <property name="typeAliasesPackage" value="zjq.demo.model"/>
        <property name="mapperLocations" value="classpath*:mybatis/*.xml"/>
        <!-- 开启驼峰映射配置 -->
        <!-- <property name="configuration">
		    <bean class="org.apache.ibatis.session.Configuration">
		      <property name="mapUnderscoreToCamelCase" value="true"/>
		    </bean>
		</property> -->
    </bean>

</beans>